<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tickets Search</title>
</head>
<body>
<h2>Search booked tickets by user</h2>
<form th:action="@{/tickets-by-user}" method="post" enctype="multipart/form-data">
    <p>User ID: <input type="text" th:field="*{userId}" required></p>
    <input type="submit" value="Search">
</form>

<h2>Search booked tickets by event</h2>
<form th:action="@{/tickets-by-event}" method="get" enctype="multipart/form-data">
    <p>User ID: <input type="text" th:field="*{userId}" required></p>
    <button type="submit">Search</button>
</form>

<h2>Download tickets by user in PDF</h2>
<form th:actioin="@{/tickets}" method="get">
    <p>User ID: <input type="text" th:field="*{userId}" required/> </p>
    <input type="hidden" name="asPdf" value="true">
    <button type="submit">Download as PDF</button>
</form>

</body>
</html>
