<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tickets by event</title>
</head>
<body>
<h1>Ticket details</h1>
<h2>Event detail</h2>
<p>title <p th:text="${event.title}"></p> - Date: <p th:text="${event.date}"></p> </p>
<table>
    <tr>
        <th>ID</th>
        <th>Event ID</th>
        <th>Category</th>
        <th>Place</th>
    </tr>
    <tr th:each="t: ${tickets}">
        <td th:text="${t.id}"></td>
        <td th:text="${t.eventId}"></td>
        <td th:text="${t.userId}"></td>
        <td th:text="${t.category}"></td>
        <td th:text="${t.place}"></td>
    </tr>
</table>
</body>
</html>
